celery
eventlet
flask
flask-restful
flask-cors
flasgger
gunicorn
kombu
lru-dict
neo4j-driver==1.5.3
networkx==2.1
numpy>=1.8.0
redis
psycopg2
requests
scipy
-e git+https://github.com/Supervisor/supervisor@dbff619f79c48da0776178e627221da6e40a3261#egg=supervisor